@font-face {
  font-display: block;
  font-family: "hui-icon";
  src: url("../fonts/iconfont.woff2") format("woff2"),
    url("../fonts/iconfont.woff") format("woff");
}

.icon::before,
[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  font-family: hui-icon !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
//   vertical-align: -0.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
}

.icon-circle:before {
  content: "\e74f";
}

.icon-search-fill:before {
  content: "\e85d";
}

.icon-prompt-fill:before {
  content: "\e86d";
}

.icon-menu-fill:before {
  content: "\e850";
}

.icon-chart-line-fill:before {
  content: "\e80e";
}

.icon-circle-fill:before {
  content: "\e80f";
}

.icon-cart-fill:before {
  content: "\e810";
}

.icon-chart-bar-fill:before {
  content: "\e811";
}

.icon-close-fill:before {
  content: "\e812";
}

.icon-calendar-fill:before {
  content: "\e813";
}

.icon-captcha2-fill:before {
  content: "\e814";
}

.icon-cry-fill:before {
  content: "\e815";
}

.icon-captcha-fill:before {
  content: "\e816";
}

.icon-clock-fill:before {
  content: "\e817";
}

.icon-compass-fill:before {
  content: "\e818";
}

.icon-cut-fill:before {
  content: "\e819";
}

.icon-customization-fill:before {
  content: "\e81a";
}

.icon-copy-fill:before {
  content: "\e81b";
}

.icon-computer-fill:before {
  content: "\e81c";
}

.icon-daytime-fill:before {
  content: "\e81d";
}

.icon-data-board-fill:before {
  content: "\e81e";
}

.icon-delete2-fill:before {
  content: "\e81f";
}

.icon-delete-fill:before {
  content: "\e820";
}

.icon-diamond-fill:before {
  content: "\e821";
}

.icon-direction-left-fill:before {
  content: "\e822";
}

.icon-direction-down-fill:before {
  content: "\e823";
}

.icon-direction-right-fill:before {
  content: "\e824";
}

.icon-direction-up-fill:before {
  content: "\e825";
}

.icon-discounts-fill:before {
  content: "\e826";
}

.icon-double-arrow-down-fill:before {
  content: "\e827";
}

.icon-double-arrow-left-fill:before {
  content: "\e828";
}

.icon-download2-fill:before {
  content: "\e829";
}

.icon-double-arrow-up-fill:before {
  content: "\e82a";
}

.icon-double-arrow-right-fill:before {
  content: "\e82b";
}

.icon-download-fill:before {
  content: "\e82c";
}

.icon-down-sm1-fill:before {
  content: "\e82d";
}

.icon-down-sm-fill:before {
  content: "\e82e";
}

.icon-editor2-fill:before {
  content: "\e82f";
}

.icon-editor-fill:before {
  content: "\e830";
}

.icon-down-to-bottom-fill:before {
  content: "\e831";
}

.icon-email-fill:before {
  content: "\e832";
}

.icon-email2-fill:before {
  content: "\e833";
}

.icon-export-fill:before {
  content: "\e834";
}

.icon-file-open-fill:before {
  content: "\e835";
}

.icon-fullscreen-magnify1-fill:before {
  content: "\e836";
}

.icon-find-fill:before {
  content: "\e837";
}

.icon-folder-fill:before {
  content: "\e838";
}

.icon-fullscreen-shrink1-fill:before {
  content: "\e839";
}

.icon-favorites-fill:before {
  content: "\e83a";
}

.icon-fullscreen-magnify-fill:before {
  content: "\e83b";
}

.icon-fullscreen-shrink-fill:before {
  content: "\e83c";
}

.icon-gift1-fill:before {
  content: "\e83d";
}

.icon-head-portrait-fill:before {
  content: "\e83e";
}

.icon-help-fill:before {
  content: "\e83f";
}

.icon-home-fill:before {
  content: "\e840";
}

.icon-history-fill:before {
  content: "\e841";
}

.icon-gift-fill:before {
  content: "\e842";
}

.icon-home2-fill:before {
  content: "\e843";
}

.icon-identity-fill:before {
  content: "\e844";
}

.icon-left-sm-fill:before {
  content: "\e845";
}

.icon-import-fill:before {
  content: "\e846";
}

.icon-layers-fill:before {
  content: "\e847";
}

.icon-invisible-fill:before {
  content: "\e848";
}

.icon-list-fill:before {
  content: "\e849";
}

.icon-link-fill:before {
  content: "\e84a";
}

.icon-location-fill:before {
  content: "\e84b";
}

.icon-magnify-fill:before {
  content: "\e84c";
}

.icon-location2-fill:before {
  content: "\e84d";
}

.icon-message-fill:before {
  content: "\e84e";
}

.icon-mobile-phone-fill:before {
  content: "\e84f";
}

.icon-mic-fill:before {
  content: "\e851";
}

.icon-more-fill:before {
  content: "\e852";
}

.icon-page-first-fill:before {
  content: "\e853";
}

.icon-password2-fill:before {
  content: "\e854";
}

.icon-password-fill:before {
  content: "\e855";
}

.icon-page-last-fill:before {
  content: "\e856";
}

.icon-network-fill:before {
  content: "\e857";
}

.icon-phonecall2-fill:before {
  content: "\e858";
}

.icon-plus-sm-fill:before {
  content: "\e859";
}

.icon-packaging-fill:before {
  content: "\e85a";
}

.icon-pic-fill:before {
  content: "\e85b";
}

.icon-password3-fill:before {
  content: "\e85c";
}

.icon-praise-fill:before {
  content: "\e85e";
}

.icon-qr-code-fill:before {
  content: "\e85f";
}

.icon-red-packet-fill:before {
  content: "\e860";
}

.icon-refresh-fill:before {
  content: "\e861";
}

.icon-record-fill:before {
  content: "\e862";
}

.icon-remind2-fill:before {
  content: "\e863";
}

.icon-right-sm-fill:before {
  content: "\e864";
}

.icon-remind-fill:before {
  content: "\e865";
}

.icon-round-down-fill:before {
  content: "\e866";
}

.icon-round-left-fill:before {
  content: "\e867";
}

.icon-round-up-fill:before {
  content: "\e868";
}

.icon-round-right-fill:before {
  content: "\e869";
}

.icon-search2-fill:before {
  content: "\e86a";
}

.icon-scan-fill:before {
  content: "\e86b";
}

.icon-save-fill:before {
  content: "\e86c";
}

.icon-security1-fill:before {
  content: "\e86e";
}

.icon-seleted-fill:before {
  content: "\e86f";
}

.icon-security-fill:before {
  content: "\e870";
}

.icon-serve-fill:before {
  content: "\e871";
}

.icon-set1-fill:before {
  content: "\e872";
}

.icon-share2-fill:before {
  content: "\e873";
}

.icon-set-fill:before {
  content: "\e874";
}

.icon-share3-fill:before {
  content: "\e875";
}

.icon-share-fill:before {
  content: "\e876";
}

.icon-shop-fill:before {
  content: "\e877";
}

.icon-shut-sm-fill:before {
  content: "\e878";
}

.icon-shrink-fill:before {
  content: "\e879";
}

.icon-so-fill:before {
  content: "\e87a";
}

.icon-spanner-fill:before {
  content: "\e87b";
}

.icon-stop-fill:before {
  content: "\e87c";
}

.icon-star1-fill:before {
  content: "\e87d";
}

.icon-subtract-sm-fill:before {
  content: "\e87e";
}

.icon-shield-fill:before {
  content: "\e87f";
}

.icon-success-fill:before {
  content: "\e880";
}

.icon-smile-fill:before {
  content: "\e881";
}

.icon-text-fill:before {
  content: "\e882";
}

.icon-text2-fill:before {
  content: "\e883";
}

.icon-switch-fill:before {
  content: "\e884";
}

.icon-tick-sm-fill:before {
  content: "\e885";
}

.icon-star-fill:before {
  content: "\e886";
}

.icon-top-sm-fill:before {
  content: "\e887";
}

.icon-toggle-right-fill:before {
  content: "\e888";
}

.icon-toggle-left-fill:before {
  content: "\e889";
}

.icon-up-sm-fill:before {
  content: "\e88a";
}

.icon-upload-fill:before {
  content: "\e88b";
}

.icon-training-fill:before {
  content: "\e88c";
}

.icon-up-to-top-fill:before {
  content: "\e88d";
}

.icon-user-fill:before {
  content: "\e88e";
}

.icon-user-center-fill:before {
  content: "\e88f";
}

.icon-user-delete-fill:before {
  content: "\e890";
}

.icon-view-list-fill:before {
  content: "\e891";
}

.icon-vip-fill:before {
  content: "\e892";
}

.icon-upload2-fill:before {
  content: "\e893";
}

.icon-wallet-fill:before {
  content: "\e894";
}

.icon-user-add-fill:before {
  content: "\e895";
}

.icon-warning-fill:before {
  content: "\e896";
}

.icon-user-group-fill:before {
  content: "\e897";
}

.icon-phonecall-fill:before {
  content: "\e898";
}

.icon-add-fill:before {
  content: "\e7ff";
}

.icon-admin-fill:before {
  content: "\e800";
}

.icon-adjust-fill:before {
  content: "\e801";
}

.icon-arrow-up-fill:before {
  content: "\e802";
}

.icon-arrow-left-fill:before {
  content: "\e803";
}

.icon-arrow-right-fill:before {
  content: "\e804";
}

.icon-arrow-down-fill:before {
  content: "\e805";
}

.icon-book-fill:before {
  content: "\e806";
}

.icon-book2-fill:before {
  content: "\e807";
}

.icon-brush2-fill:before {
  content: "\e808";
}

.icon-bulb-fill:before {
  content: "\e809";
}

.icon-brush-fill:before {
  content: "\e80a";
}

.icon-burse1-fill:before {
  content: "\e80b";
}

.icon-box-fill:before {
  content: "\e80c";
}

.icon-chart-pie-fill:before {
  content: "\e80d";
}

.icon-sm-dot:before {
  content: "\e789";
}

.icon-sm-subtract:before {
  content: "\e796";
}

.icon-sm-shut:before {
  content: "\e7bd";
}

.icon-sm-tick:before {
  content: "\e7d9";
}

.icon-sm-plus:before {
  content: "\e7e1";
}

.icon-sm-down:before {
  content: "\e7e4";
}

.icon-sm-top:before {
  content: "\e7e7";
}

.icon-serve:before {
  content: "\e7d2";
}

.icon-magnify:before {
  content: "\e7c7";
}

.icon-shrink:before {
  content: "\e7d4";
}

.icon-spanner:before {
  content: "\e7de";
}

.icon-search2:before {
  content: "\e7ae";
}

.icon-remind1:before {
  content: "\e7da";
}

.icon-arrow-up:before {
  content: "\e75f";
}

.icon-add:before {
  content: "\e760";
}

.icon-bulb:before {
  content: "\e761";
}

.icon-adjust1:before {
  content: "\e762";
}

.icon-chart-pie:before {
  content: "\e763";
}

.icon-chart-line:before {
  content: "\e764";
}

.icon-arrow-left:before {
  content: "\e765";
}

.icon-cart2:before {
  content: "\e766";
}

.icon-clock:before {
  content: "\e767";
}

.icon-cry:before {
  content: "\e768";
}

.icon-burse1:before {
  content: "\e769";
}

.icon-brush2:before {
  content: "\e76a";
}

.icon-close:before {
  content: "\e76b";
}

.icon-diamond:before {
  content: "\e76c";
}

.icon-count-down:before {
  content: "\e76d";
}

.icon-box:before {
  content: "\e76e";
}

.icon-discounts:before {
  content: "\e76f";
}

.icon-computer:before {
  content: "\e770";
}

.icon-copy:before {
  content: "\e771";
}

.icon-compass:before {
  content: "\e772";
}

.icon-brush:before {
  content: "\e773";
}

.icon-double-arrow-right:before {
  content: "\e774";
}

.icon-book2:before {
  content: "\e775";
}

.icon-crosshairs:before {
  content: "\e776";
}

.icon-captcha:before {
  content: "\e777";
}

.icon-double-arrow-left:before {
  content: "\e778";
}

.icon-arrow-right:before {
  content: "\e779";
}

.icon-code:before {
  content: "\e77a";
}

.icon-customization:before {
  content: "\e77b";
}

.icon-cross:before {
  content: "\e77c";
}

.icon-arrow-down:before {
  content: "\e77d";
}

.icon-double-arrow-up:before {
  content: "\e77e";
}

.icon-cut:before {
  content: "\e77f";
}

.icon-calendar:before {
  content: "\e780";
}

.icon-direction-down:before {
  content: "\e781";
}

.icon-delete2:before {
  content: "\e782";
}

.icon-direction-up:before {
  content: "\e783";
}

.icon-adjust:before {
  content: "\e784";
}

.icon-delete:before {
  content: "\e785";
}

.icon-email2:before {
  content: "\e786";
}

.icon-direction-right:before {
  content: "\e787";
}

.icon-cart:before {
  content: "\e788";
}

.icon-download:before {
  content: "\e78a";
}

.icon-folder:before {
  content: "\e78b";
}

.icon-export1:before {
  content: "\e78c";
}

.icon-fullscreen-magnify1:before {
  content: "\e78d";
}

.icon-book:before {
  content: "\e78e";
}

.icon-download2:before {
  content: "\e78f";
}

.icon-admin:before {
  content: "\e790";
}

.icon-daytime:before {
  content: "\e791";
}

.icon-captcha2:before {
  content: "\e792";
}

.icon-gift:before {
  content: "\e793";
}

.icon-editor:before {
  content: "\e794";
}

.icon-direction-left:before {
  content: "\e795";
}

.icon-help:before {
  content: "\e797";
}

.icon-export:before {
  content: "\e798";
}

.icon-email:before {
  content: "\e799";
}

.icon-fullscreen-shrink1:before {
  content: "\e79a";
}

.icon-file-open:before {
  content: "\e79b";
}

.icon-gift1:before {
  content: "\e79c";
}

.icon-fullscreen-magnify:before {
  content: "\e79d";
}

.icon-favorites:before {
  content: "\e79e";
}

.icon-data-board:before {
  content: "\e79f";
}

.icon-chart-bar:before {
  content: "\e7a0";
}

.icon-head-portrait:before {
  content: "\e7a1";
}

.icon-down-to-bottom:before {
  content: "\e7a2";
}

.icon-home3:before {
  content: "\e7a3";
}

.icon-layers:before {
  content: "\e7a4";
}

.icon-invisible:before {
  content: "\e7a5";
}

.icon-home:before {
  content: "\e7a6";
}

.icon-link:before {
  content: "\e7a7";
}

.icon-double-arrow-down:before {
  content: "\e7a8";
}

.icon-fullscreen-shrink:before {
  content: "\e7a9";
}

.icon-import:before {
  content: "\e7aa";
}

.icon-location:before {
  content: "\e7ab";
}

.icon-identity:before {
  content: "\e7ac";
}

.icon-location2:before {
  content: "\e7ad";
}

.icon-history:before {
  content: "\e7af";
}

.icon-mobile-phone:before {
  content: "\e7b0";
}

.icon-message:before {
  content: "\e7b1";
}

.icon-find:before {
  content: "\e7b2";
}

.icon-page-first:before {
  content: "\e7b3";
}

.icon-editor2:before {
  content: "\e7b4";
}

.icon-indent:before {
  content: "\e7b5";
}

.icon-home2:before {
  content: "\e7b6";
}

.icon-packaging:before {
  content: "\e7b7";
}

.icon-network:before {
  content: "\e7b8";
}

.icon-mic:before {
  content: "\e7b9";
}

.icon-password3:before {
  content: "\e7ba";
}

.icon-password:before {
  content: "\e7bb";
}

.icon-page-last:before {
  content: "\e7bc";
}

.icon-list:before {
  content: "\e7be";
}

.icon-phonecall2:before {
  content: "\e7bf";
}

.icon-prompt:before {
  content: "\e7c0";
}

.icon-praise:before {
  content: "\e7c1";
}

.icon-record:before {
  content: "\e7c2";
}

.icon-remind2:before {
  content: "\e7c3";
}

.icon-refresh:before {
  content: "\e7c4";
}

.icon-round-down:before {
  content: "\e7c5";
}

.icon-round-up:before {
  content: "\e7c6";
}

.icon-save:before {
  content: "\e7c8";
}

.icon-scan:before {
  content: "\e7c9";
}

.icon-password2:before {
  content: "\e7ca";
}

.icon-qr-code:before {
  content: "\e7cb";
}

.icon-security1:before {
  content: "\e7cc";
}

.icon-seleted:before {
  content: "\e7cd";
}

.icon-security:before {
  content: "\e7ce";
}

.icon-pic:before {
  content: "\e7cf";
}

.icon-round-right:before {
  content: "\e7d0";
}

.icon-set:before {
  content: "\e7d1";
}

.icon-round-left:before {
  content: "\e7d3";
}

.icon-share:before {
  content: "\e7d5";
}

.icon-shop:before {
  content: "\e7d6";
}

.icon-share3:before {
  content: "\e7d7";
}

.icon-share2:before {
  content: "\e7d8";
}

.icon-shield:before {
  content: "\e7db";
}

.icon-set1:before {
  content: "\e7dc";
}

.icon-so:before {
  content: "\e7dd";
}

.icon-star:before {
  content: "\e7df";
}

.icon-stop:before {
  content: "\e7e0";
}

.icon-success:before {
  content: "\e7e2";
}

.icon-text2:before {
  content: "\e7e3";
}

.icon-text:before {
  content: "\e7e5";
}

.icon-smile:before {
  content: "\e7e6";
}

.icon-switch:before {
  content: "\e7e8";
}

.icon-toggle-right:before {
  content: "\e7e9";
}

.icon-upload2:before {
  content: "\e7ea";
}

.icon-up-to-top:before {
  content: "\e7eb";
}

.icon-training:before {
  content: "\e7ec";
}

.icon-user-center:before {
  content: "\e7ed";
}

.icon-star1:before {
  content: "\e7ee";
}

.icon-user-delete:before {
  content: "\e7ef";
}

.icon-user:before {
  content: "\e7f0";
}

.icon-user-group:before {
  content: "\e7f1";
}

.icon-vip:before {
  content: "\e7f2";
}

.icon-user-add:before {
  content: "\e7f3";
}

.icon-upload:before {
  content: "\e7f4";
}

.icon-warning:before {
  content: "\e7f5";
}

.icon-search:before {
  content: "\e7f6";
}

.icon-wallet:before {
  content: "\e7f7";
}

.icon-wrong:before {
  content: "\e7f8";
}

.icon-menu:before {
  content: "\e7f9";
}

.icon-phonecall:before {
  content: "\e7fa";
}

.icon-more:before {
  content: "\e7fb";
}

.icon-red-packet:before {
  content: "\e7fc";
}

.icon-toggle-left:before {
  content: "\e7fd";
}

.icon-view-list:before {
  content: "\e7fe";
}
