.#{$namespace} {
    &-navbar {
      background: $teal;
      position: relative;
    }
    &-nav {
      width: 1200px;
      margin: 0 auto;
      position: relative;
      @include clear();
  
      .nav-item {
        float: left;
        padding: 0 30px;
        position: relative;
  
        &:nth-child(1) {
          padding-left: 0;
        }
  
        & > a {
          display: block;
          width: 100%;
          padding: 0 20px;
          color: $white;
          height: 60px;
          line-height: 60px;
          font-size: 20px;
          font-weight: bold;
          background-color: rgba($yellow, 0);
          @include transition();
        }
        &.on {
          & > a {
            color: $teal;
            background-color: rgba($white, 1);
          }
        }
      }
      // 子菜单
      .sub-menu {
        display: none;
        width: 120px;
        left: 30px;
        top: 60px;
        position: absolute;
        background: rgba($teal, 1);
        padding: 5px 0;
        box-shadow:  0 5px 15px rgba($black, 0.2);
        border-radius: 0 0 5px 3px;
        li {
          zoom: 1;
          a {
            display: block;
            color: $white;
            padding: 10px 20px;
            background: rgba($white, 0);
            @include transition();
            &:hover {
              background: rgba($white, 0.2);
              color: $white;
            }
          }
        }
      }
    }
  }
  